/* body {4
    color: slateblue ;
    background-color: beige;
    
}
h1{
    color:purple;
}
h2{
    color: green;
}
#lib-header{
    color: palevioletred;
}
.para{
    color: orange;
} */


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

body{
    font-family: 'Playfair Display', serif;
}

